* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #2c3e50; /* Dark Blue */
  color: #fff; /* White text */
}

.Movies {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.App {
  margin: 1.5rem;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title h1 {
  padding-right: 1rem;
  font-size: 22px;
  font-family: 'Times New Roman', Times, serif;
}

.title h2 {
  cursor: pointer;
  padding-left: 20px;
}

.title h2:hover {
  color: #fff; /* White text on hover */
}

.search_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #007bff; /* Dark Blue */
  color: #000; /* Black text */
}

.search_box {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.search_box input {
  border: 0;
  outline: 0;
  margin-right: 0.2rem;
  padding: 0.4rem;
  border-radius: 1rem;
}

.search_box button {
  border: 0;
  outline: 0;
  background-color: #fff; /* White background */
  padding: 0.4rem;
  border-radius: 1rem;
}

.title h2 {
  margin-left: auto;
}

.contact_link {
  margin-left: 10rem;
}
